<!DOCTYPE html>
<html>
<head>
<title>PHP WEB IM 在线聊天 用户注册 </title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="keywords" content="注册页面模板,网站注册页面,注册模板页面,网站模板,注册页面表单验证">
<meta name="description" content="JS代码网提供大量的注册页面模板的学习和下载">
<link rel="shortcut icon" href="/static/images/favicon.ico" />
<link href="/static/css/styler.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/static//js/jquery.js"></script>
<script type="text/javascript" src="/static/js/jquery.i18n.properties-1.0.9.js" ></script>
<script type="text/javascript" src="/static/js/jquery.validate.js"></script>
<script type="text/javascript" src="/static/js/page_regist.js?lang=zh"></script>
 
</head>
<body class="loginbody">
<div class="dataEye">
	<div class="loginbox registbox">
		<div class="login-content reg-content">
			<div class="loginbox-title">
				<h3>注册</h3>
			</div>
			<form id="signupForm" method="post" action="/user/regist">
			<div class="login-error"></div>
			<div class="row">
				<label class="field" for="email">昵称</label>
				<input type="text" value="" class="input-text-user noPic input-click" name="user_name" id="user_name">
			</div>
			<div class="row">
				<label class="field" for="password">密码</label>
				<input type="password" value="" class="input-text-password noPic input-click" name="password" id="password">
			</div>
			<div class="row">
				<label class="field" for="passwordAgain">确认密码</label>
				<input type="password" value="" class="input-text-password noPic input-click" name="passwordAgain" id="passwordAgain">
			</div> 
			 
			<div class="row tips" style="display:none">
				<input type="checkbox" checked id="checkBox">
				<label>
				我已阅读并同意
				<a href="#" target="_blank">隐私政策、服务条款</a>
				</label>
			</div>
			<div class="row btnArea">
				<a class="login-btn" id="submit">注册</a>
			</div>
			</form>
		</div>
		<div class="go-regist">
			已有帐号,请<a href="/user/login/" class="link">登录</a>
		</div>
	</div>
	
 
</div>
<div class="loading">
	<div class="mask">
		<div class="loading-img">
		<img src="/static/images/loading.gif" width="31" height="31">
		</div>
	</div>
</div>
</body>
</html>

